<div  style="padding: 30px 0 30px 30px">
    <div>
        <h2>Credenciales incorrectas</h2>

        <div  style="padding: 10px;">
            <button onclick="location.href='/api/auth/login'">REINTENTAR</button>
        </div>
        

    </div>
</div>