<div style="padding: 30px 0 30px 30px">
    <div class="alert alert-warning" role="alert">
        <h1>La sesión ha finalizado correctamente</h1>
    </div>
    <button onclick="location.href='/'">VOLVER AL INICIO</button>
</div>