<div style="padding: 30px 0 30px 30px">
    <h2>RANDOMS</h2>
    <div style="padding: 20px;">
        <button class="btn btn-dark mt-2" style="width: 10rem;" onclick="location.href='/'">VOLVER AL INICIO</button>
    </div>

    <ul style="padding: 30px 0 30px 30px">
        {{#each data}}
        <li>El numero {{@key}} se repitió {{this}} vez/veces</li>
        {{/each}}
    </ul>
</div>