<div>
    <div>
        <h2 style="padding: 30px 0 30px 30px">
            Bienvenido por favor registrese
        </h2>

        <div style="padding: 30px 0 30px 30px">
            <button class="btn btn-dark mt-2" style="width: 10rem;" onclick="location.href='/api/auth/login'">Log In / Ingresar</button>
            <button class="btn btn-dark mt-2" style="width: 10rem;" onclick="location.href='/api/auth/signup'">Sign up / Registrarse</button>
        </div>

    </div>

        <div style="padding: 30px 0 30px 30px">
        <button onclick="location.href='/api/products'">AGREGAR PRODUCTOS</button>
    </div>

    <div style="padding: 30px 0 30px 30px">
        <button class="btn btn-dark mt-2" style="width: 10rem;" onclick="location.href='/api/info'">DESAFIO INFO</button>
    </div>
    
    <div style="padding: 30px 0 30px 30px">
        <button class="btn btn-dark mt-2" style="width: 10rem;" onclick="location.href='/api/randoms'">DESAFIO RANDOMS</button>
        <p style="padding: 10px;">Aclaración: desafio solicitaba pasar parametros por params ej: "http://localhost:8080/api/randoms?cant=20" <br>en caso de no poner o apretar el boton se mostraran 10.000 resultados</p>
    </div>
</div>